extends layout

block content
  main(class=activeCategory && 'articles-category' || 'main-page')
    if hiddenTitle
      h1.visually-hidden= hiddenTitle
    if activeCategory
      h1= activeCategory.title
    p= description
    if categories && categories.length
      section.main-page__theme-list
        h2.visually-hidden Список тем
        include ../common/themes
    if hotArticles && hotArticles.length || comments && comments.length
      include ../common/section-flex/section-flex
    if articles && articles.length
      include ../common/article-preview-list/article-preview-list
    else
      include ../common/empty/empty-section
