ul.preview__pagination.pagination
  li
    if paginator.page === paginator.start
      a.pagination__button.button.button--backwards.button--disabled(aria-label='Страница назад') Назад
    else
      a.pagination__button.button.button--backwards(href=`?page=${paginator.page - 1}` aria-label='Страница назад') Назад

  - let i = paginator.start;
    while i <= paginator.end
      if paginator.page === i
        li(class='pagination__item pagination__item--active')
          a= i++
      else
        li(class='pagination__item')
          a(href=`?page=${i}`)= i++
  li
    if paginator.page === paginator.end
      a.pagination__button.button.button--forward.button--disabled(aria-label='Страница назад') Назад
    else
      a.pagination__button.button.button--forward(href=`?page=${paginator.page + 1}` aria-label='Страница назад') Назад
