ul.themes(class= isPost && 'post__themes' || '')
  if categories && categories.length
    each category in categories
      li.themes__item
        a.themes__item-link(href=`/?category=${category.id}`)= category.title
          |
          sup= category.articleCount
          button.themes__remove-btn(type='button') Удалить категорию
